<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Allocation app</title>
  </head>
  <body>
    <a href="/admin/products">Products</a>
    <a href="/admin/products/add_batch">Add a batch</a>
    <a href="/admin/products/allocate">Allocate</a>
    
    {% if message %}
      <p>{{message}}</p>
    {% endif %}
    {% block body %}
      <h1>Allocation app</h1>
    {% endblock %}
  </body>
</html>
