{% extends "base.html" %} {% block body %}
{{super()}}
<h2>Products list</h2>

<ul>
  {% for product in products %}
    <li style="background-color:{{ loop.cycle('aquamarine', 'white') }}">
      {{loop.index}} - {{product.sku|upper}} - Total available quantity: {{product.available_quantity}} -
    
    {# Ceci est la liste des lots #} {% if product.batches|length > 1 %}
      <ul>
        {% for batch in product.batches %}
          <li>
          {{batch.reference}}: Purchased: {{batch.purchased_quantity}} - Allocated:
          {{batch.allocated_quantity}} - Available: {{batch.available_quantity}}
        </li>
        {% endfor %}
      </ul>
    </li>
    {% else %} {{product.batches.0.reference }} </li>{% endif %} {% endfor %}
</ul>

{% endblock %}
