{% extends "base.html" %} {% block body %}

<h1>Products list</h1>

<ul>
  {% for product in products %}
  <li>
    {{product.sku}} - Total available quantity: {{product.available_quantity}} -
  </li>
  {# Ceci est la liste des produits #} {% if product.batches|length > 1 %}
  <ul>
    {% for batch in product.batches %}
    <li>
      {{batch.reference}}: Purchased: {{batch.purchased_quantity}} - Allocated:
      {{batch.allocated_quantity}} - Available: {{batch.available_quantity}}
    </li>
    {% endfor %}
  </ul>
  {% else %} {{product.batches.0.reference }} {% endif %} {% endfor %}
</ul>

{% endblock %}
